<!--
	✔ modularized && ✔ index.php --><span ng-if="isModularized() && isIndexPhp()"># index.php
index index.php;

</span><!--

--># handle .php
location ~ \.php$ {<!--
	✔ modularized || ✔ WordPress --><span ng-if="isModularized() || isWordPress()">
	include _php_fastcgi.conf;</span><!--

	✔ unified && ✘ WordPress --><span ng-if="isUnified() && !isWordPress()">
<ng-include ng-include-tabs="{{ isUnified() ? 3 : 1 }}" src="'templates/conf/_php_fastcgi.conf.html?v=COMMIT_HASH'" onload="refreshHighlighting()"></ng-include></span>
}
