user {{ data.user }};
pid {{ data.pid}};
worker_processes {{ data.worker_processes }};
worker_rlimit_nofile 409600;

events {
	worker_connections 4096;
	multi_accept on;
}

http {
	charset utf-8;
	sendfile on;
	tcp_nopush on;
	tcp_nodelay on;<!--

	✘ serverTokens --><span ng-if="!isServerTokens()">
	server_tokens off;</span><!--

	✘ logNotFound --><span ng-if="!isLogNotFound()">
	log_not_found off;</span>
	types_hash_max_size 2048;
	client_max_body_size {{ data.client_max_body_size }}M;

	# mime
	include mime.types;
	default_type application/octet-stream;

	# logging
	access_log {{ isAccessLog() ? data.access_log : 'off' }};
	error_log {{ data.error_log }} warn;<span ng-if="data.limit_req">

	# limits
	limit_req_log_level warn;
	limit_req_zone $binary_remote_addr zone=login:10m rate=10r/m;</span>

	# load configs
	include /etc/nginx/conf.d/*.conf;<span ng-if="data.file_structure === 'modularized'">
	include /etc/nginx/sites-enabled/*;</span><span ng-if="data.file_structure === 'unified'">

	# {{ !data.non_www ? 'www.' : '' }}{{ domain() }}
<ng-include ng-include-tabs="1" src="'templates/conf/example.com.conf.html?v=COMMIT_HASH'" sonload="refreshHighlighting()"></ng-include></span>
}
