# headers
add_header X-Frame-Options "SAMEORIGIN" always;
add_header X-XSS-Protection "1; mode=block" always;
add_header X-Content-Type-Options "nosniff" always;
add_header X-UA-Compatible "IE=Edge" always;
add_header Cache-Control "no-transform" always;

# . files
location ~ /\.(?!well-known).* {
	deny all;
}<span ng-if="data.expires.assets !== '' && data.expires.assets !== data.expires.media">

# assets
location ~* \.(?:{{ extensions.assets }})$ {
	expires {{ data.expires.assets }};<span ng-if="data.access_log !== ''">
	access_log off;</span>
}</span><span ng-if="data.expires.media !== ''">

# {{ data.expires.assets !== '' && data.expires.assets === data.expires.media ? 'assets, ' : '' }}media
location ~* \.(?:{{ data.expires.assets !== '' && data.expires.assets === data.expires.media ? extensions.assets + '|' : '' }}{{ extensions.images }}|{{ extensions.audio }}|{{ extensions.video }})$ {
	expires {{ data.expires.media }};<span ng-if="data.access_log !== ''">
	access_log off;</span>
}</span><span ng-if="data.expires.svg !== '' && data.expires.svg !== data.expires.fonts">

# svg
location ~* \.{{ extensions.svg }}$ {
	add_header Access-Control-Allow-Origin "*";
	expires {{ data.expires.svg }};<span ng-if="data.access_log !== ''">
	access_log off;</span>
}</span><span ng-if="data.expires.fonts !== ''">

# {{ data.expires.svg !== '' && data.expires.svg === data.expires.fonts ? 'svg, ' : '' }}fonts
location ~* \.(?:{{ data.expires.svg !== '' && data.expires.svg === data.expires.fonts ? extensions.svg + '|' : '' }}{{ extensions.fonts }})$ {
	add_header Access-Control-Allow-Origin "*";
	expires {{ data.expires.fonts }};<span ng-if="data.access_log !== ''">
	access_log off;</span>
}</span>
<span ng-if="data.gzip">
# gzip
gzip on;
gzip_vary on;
gzip_proxied any;
gzip_comp_level 6;
gzip_types {{ gzipTypes }};</span>
