.adsbygoogle-container {
	overflow: hidden;

	.adsbygoogle {
		display: block;
		position: relative;
		background-color: #f8f8f8;

		&[data-adsbygoogle-status="done"] {
			background-color: transparent;
		}

		aside.sidebar & {
			height: 300px;
			max-height: 300px;
		}
	}

	.note {
		text-align: center;
		color: #444;
		font-size: 0.6rem;
	}
}
