.adsbygoogle-container {
	overflow: hidden;

	.adsbygoogle {
		display: block;
		position: relative;
		background-color: #f8f8f8;
		border: 1px solid #dee2e6;

		&[data-adsbygoogle-status="done"] {
			background-color: transparent;
			border: 0;
		}

		aside.sidebar & {
			height: 300px;
			max-height: 300px;
		}

		footer & {
			height: 200px;
			max-height: 200px;
		}
	}

	footer & {
		margin-bottom: 1rem;
	}

	.note {
		text-align: center;
		color: #444;
		font-size: 0.6rem;
	}
}
