.callout {
  background: $callout;
  border-radius: $border-radius;
  margin: 2rem .5rem 1rem;
  padding: 1.875rem 1.875rem 1.5rem;
  transition: opacity $transition;

  &.floating {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 20rem;
    max-width: calc(100% - 1rem);
    box-shadow: inset 0 0 0 $border-size $border-color;

    p {
      @include sailec-regular;

      + p {
        margin: 1.25rem 0 0;
      }

      .button {
        display: block;
        height: 3rem;
        line-height: 3rem;
      }
    }
  }

  p {
    @include sailec-medium;

    margin: 0;
    text-align: left;
    font-size: 15px;

    a {
      text-decoration: none;
      padding: 0 0 $border-size;
      border-bottom: $border-size dotted $primary;

      &:hover {
        border-bottom-color: $primary-hover;
      }

      + i {
        margin: 0 0 0 .25rem;
      }
    }
  }
}
