.callout {
  background: $callout;
  border-radius: $border-radius;
  margin: 2rem .5rem 1rem;
  padding: 1.875rem 1.875rem 1.5rem;
  transition: opacity $transition;

  &.floating {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 22rem;
    max-width: calc(100% - 1rem);
    box-shadow: inset 0 0 0 $border-size $border-color;

    .close {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin: 0 0 1.25rem;

      p {
        flex-grow: 1;
        margin: 0 .5rem 0 0;
      }

      a {
        color: $muted;
        margin: 0 .5rem;
        text-decoration: none;
        transition: color $transition;

        &:hover {
          color: $text;
        }
      }
    }

    p {
      @include sailec-regular;
    }

    .button {
      display: block;
      height: 3rem;
      line-height: 3rem;
    }
  }

  p {
    @include sailec-medium;

    margin: 0;
    text-align: left;
    font-size: 15px;

    a {
      text-decoration: none;
      padding: 0 0 $border-size;
      border-bottom: $border-size dotted $primary;

      &:hover {
        border-bottom-color: $primary-hover;
      }

      + i {
        margin: 0 0 0 .25rem;
      }
    }
  }
}
