/*
	FONTS
*/
@font-face {
	font-family: 'Quicksand';
	src: url('../font/quicksand-regular-webfont.woff2') format('woff2'),
		url('../font/quicksand-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src: url('../font/quicksand-bold-webfont.woff2') format('woff2'),
		url('../font/quicksand-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}



/*
	BODY
*/
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: 'Quicksand', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



/*
	MISC
*/
[ng-cloak] {
	display: none;
}

.clipboard-success {
	font-size: 0.8rem;
	color: #28a745;
	font-weight: 700;
}



/*
	HEADER
*/
header {
	background-color: #000;
	padding: 0.5rem 0;
	text-align: center;
	margin-bottom: 0.5rem;
	color: #fff;
	font-size: 2.2rem;
}

header .logo {
	height: 3rem;
	margin: 0.5rem 0 0.3rem;
}

header .url {
	opacity: 0.7;
}

header .url.active {
	opacity: 1;
}

header .url .input-group-prepend .input-group-text,
header .url .input-group-append .input-group-text {
	padding-top: 0.15rem;
	cursor: pointer;
	background-color: transparent;
}

header .url .input-group-prepend .input-group-text img,
header .url .input-group-append .input-group-text img {
	margin-top: 4px;
}

header .url .input-group-append .input-group-text img {
	opacity: 0.5;
}

header .url.active .input-group-append .input-group-text img {
	opacity: 1;
}

header .url .form-control {
	background-color: transparent;
	color: #fff;
}


/*
	MAIN
*/
main {
	flex: 1 1 auto;
}

main .options,
main .sidebar {
	padding-top: 1.5rem;
}

main .options .card .card-body {
	padding: 0.5rem;
	font-size: 0.9rem;
}

main .options .card + .card {
	margin-top: 1rem;
}

main .options .card .form-label {
	margin-bottom: 0.15rem;
	margin-left: 0.15rem;
}

main .options .card .form-group {
	margin-bottom: 0.5rem;
}

main .options .card .form-subgroup {
	margin-left: 0.35rem;
	border-left: 2px solid #ced4da;
	padding-left: 0.5rem;
}

main .options .card .form-control[type="text"]:placeholder-shown,
main .options .card .form-control[type="email"]:placeholder-shown {
	background-color: #f8f8f8;
}

main .options .card .form-control.domain:placeholder-shown {
	/*background-color: #f8d7da;*/
	/*background-color: #dedeff;*/
	border-color: #3131ff;
}

main .options .card .form-control.domain::placeholder {
	color: #000;
}

main .options .card .form-check-label {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

main .options .card .form-group:last-child {
	margin-bottom: 0;
}

main .file {
	margin-bottom: 2rem;
}

main .file .btn-clipboard {
	font-size: 0;
	padding: 0.2rem 0.4rem 0.05rem;
	vertical-align: text-bottom;
}

main .file .code,
main .commands {
	overflow-x: auto;
	font-size: 0.75rem;
	line-height: 1.25;
	background-color: #f8f8f8;
}

main .commands {
	margin-bottom: 1rem;
}

main .file .code.source.hidden {
	display: none;
}

main .file .code pre,
main .commands pre {
	margin-bottom: 0;
	font-size: inherit;
}

main .file .code pre code,
main .commands pre code {
	display: block;
	padding: 0.6rem;
	-moz-tab-size: 4;
	tab-size: 4;
	overflow: visible;
	overflow-x: visible;
}

main .sidebar .github-star {
	width: 132px;
	height: 30px;
	display: block;
	border: 0;
	overflow: hidden;
	margin: 0 auto 1rem;
}

main .files .card.actions .card-body {
	padding: 0.8rem;
}

main .files .card.actions .btn img {
	vertical-align: -2px;
	margin-right: 0.1rem;
	height: 1rem;
}

main .files .card.actions .btn-sm img {
	height: 0.9rem;
}



/*
	FOOTER
*/
footer {
	padding: 2rem 0 0.5rem;
	text-align: center;
	font-size: 0.8rem;
}

footer img.balaton {
	height: 1.6rem;
	vertical-align: middle;
}

footer .crypto {
	margin-top: 0.8rem;
	line-height: 1.2;
}



/*
	TOOLTIPs
*/
tooltip tip {
	min-width: 150px;
}

tooltip tip-tip._small {
	font-size: 0.9rem;
}



/*
	ADS
*/
.adsbygoogle-container {
	overflow: hidden;
}

.adsbygoogle-container .adsbygoogle {
	display: block;
	position: relative;
	background-color: #f8f8f8;
}

main .options .adsbygoogle-container {
	margin-top: -1rem;
	margin-bottom: 1rem;
}

main .options .adsbygoogle-container .adsbygoogle {
	height: 100px;
}

main .sidebar .adsbygoogle-container .adsbygoogle {
	height: 600px;
}

.adsbygoogle-container .adsbygoogle[data-adsbygoogle-status="done"] {
	background-color: transparent;
}

.adsbygoogle-container .note {
	text-align: center;
	color: #444;
	font-size: 0.6rem;
}

tooltip tip {
	padding: 4px 12px;
}

tooltip tip-tip {
	line-height: 1.1;
	display: block;
}
