<div class="announcement">
	<div class="container">
		<span class="badge">NEW</span>
		<a href="https://blog.digitalocean.com/introducing-memory-optimized-droplets/" target="_blank">Now available: Memory-Optimized Droplets ❯</a>
	</div>
</div>
<div class="menu">
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light">
			<a class="navbar-brand" href="#" ng-include="'assets/img/do.svg'"></a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Community</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Tutorials</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Questions</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Get Involved</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>
