<ol ng-attr-data-active-step="{{ activeStep }}">
	<li
		class="download"
		ng-mouseenter="setActiveStep('download')">
		<div class="circle" ng-include="'/assets/img/download-cloud.svg'"></div>
		<span class="counter"></span>Download
	</li>
	<li
		class="ssl"
		ng-if="isHTTPS() && (isSSLDHRequired() || isCertLetsEncrypt())"
		ng-mouseenter="setActiveStep('ssl')">
		<div class="circle" ng-include="'/assets/img/lock.svg'"></div>
		<span class="counter"></span>SSL init
	</li>

	<li
		class="certbot"
		ng-if="isHTTPS() && isCertLetsEncrypt()"
		ng-mouseenter="setActiveStep('certbot')">
		<div class="circle" ng-include="'/assets/img/terminal.svg'"></div>
		<span class="counter"></span>Certbot
	</li>

	<li
		class="live"
		ng-mouseenter="setActiveStep('live')">
		<div class="circle" ng-include="'/assets/img/check-circle.svg'"></div>
		<span class="counter"></span>Go Live!
	</li>
</ol>
